<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
      td {
        width: 20%;
      }

      td:last-child, th:last-child {
        text-align: right;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Starbound server is <strong><%= @status %></strong></h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Address</th>
            <th>Port</th>
            <th>Version</th>
            <th><%= @status.capitalize %> For</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @address %></td>
            <td><%= @port %></td>
            <td><%= @version %></td>
            <td>
              <% if @last_status_change %>
                <%= time_ago_in_words(@last_status_change) %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <% if @online_players.length > 0 %>
        <h2>Online Players</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Online For</th>
            </tr>
          </thead>
          <tbody>
            <% @online_players.each do |player| %>
              <tr>
                <td><%= player[:name] %></td>
                <td>
                  <% if player[:last_connect] %>
                    <%= time_ago_in_words(player[:last_connect]) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

      <h2>Active Worlds</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Coordinates</th>
            <th>Loaded For</th>
          </tr>
        </thead>
        <tbody>
          <% @active_worlds.each do |world| %>
            <tr>
              <td><%= world[:coords] %></td>
              <td>
                <% if world[:last_load] %>
                  <%= time_ago_in_words(world[:last_load]) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <% if @offline_players.length > 0 %>
        <h2>Offline Players</h2>
        <table class="table table-striped">
          <tr>
            <th>Name</th>
            <th>Last Seen</th>
          </tr>
          <% @offline_players.each do |player| %>
            <tr>
              <td><%= player[:name] %></td>
              <td>
                <% if player[:last_disconnect] %>
                  <%= time_ago_in_words(player[:last_disconnect]) %> ago
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </body>
</html>
